FORMAT: 1A
HOST: http://www.google.com

# regioner og kundeavis
Hver kjede kan ha en eller flere navngitte samlinger butikker. 
Disse kalles *regioner* og har teknisk sett ingen binding til organisatoriske eller geografiske regionsbegreper (men kan overlappe disse). 


## Regioner [/regions/{chainid}]
### list ut alle regioner [GET]

+ Parameters
    + chainid (required, number, `1100`) ... `kjede-id`      

+ Response 200 (application/json)

    [
    {
        "id": 1,
        "title": "Oslofjord",
        "magazines": [
            {
                "magazine": {
                    "id": 123,
                    "resource": "http://viewer.zmags.com/publication/68d27aa3#/68d27aa3/1",
                    "from": "date",
                    "to": "date"
                }
            },
            {
                "magazine": {
                    "id": "123",
                    "resource": "http: //viewer.zmags.com/publication/68d27aa3#/68d27aa3/1",
                    "from": "date",
                    "to": "date"
                }
            }
        ],
        "stores": [
            {
                "store": {
                    "Id": "7080001315467",
                    "name": "Kiwi069Koppang"
                }
            },
            {
                "store": {
                    "Id": "7080003309907",
                    "name": "Kiwi735Spangereid"
                }
            },
            {
                "store": {
                    "Id": "7080003528988",
                    "name": "Kiwi737Mandal"
                }
            }
        ]
    }
    ]

### Opprett en ny region [POST]
+ Request (application/json)

        { "title": "Nord" }

+ Response 201 (application/json)

        { "id": 3, "title": "Nord", "magazine" : "", "stores" : [] }

## Region [/regions/{chainid}/?regionid={id}]
Enkel region med alle egenskaper

+ Parameters
    + chainid (required, number, `1100`) ... `kjedeid`      
    + regionid (required, number, `1`) ... `id` til aktuell region
    

### Hent en region [GET]
+ Response 200 (application/json)

    + Header

            Last-modified: ddmmåå

    + Body
    
            { "id": 2, "title": "Øst", "magazine" : "http://viewer.zmags.com/publication/68d27aa3#/68d27aa3/1", "stores": [20,21,22,23,24,25,26,27,28,29], }

### Slett en region [DELETE]
+ Response 204

## Kundeavis [/magazine/{chainid}/]
+ Response 200 (application/json)
{ "url": "http://viewer.zmags.com/publication/68d27aa3#/68d27aa3/1" }


##
